<h2>Puzzles</h2>

<table style="border-collapse: collapse; width: 100%;">
  <tr>
  	<th style="text-align: left;">Name</th>
  	<th style="text-align: left;">Description</th>
	<th style="text-align: left;">Size</th>
	<th class="center">Active?</th>
	<th>Configurations<br />Entered</th>
  </tr>

<% for puzzle in @puzzles %>
  <tr class="<%= cycle('even','odd') %>">
  	<td style="padding: 3px;"><%= puzzle.name %></td>
  	<td><%= puzzle.description %></td>
  	<td><%= puzzle.size.html_safe %></td>
  	<td class="center"><%= puzzle.active? %></td>
  	<td style="text-align: center;"><%= puzzle.configurations.count %></td>
    <td><%= link_to 'Edit', :action => 'edit_puzzle', :id => puzzle %>&nbsp;</td>
  	<td>&nbsp;<%= link_to "Configs", :action => "show_configurations", :id => puzzle %></td>
  </tr>
<% end %>
</table>

<br />
<p>
	<%= link_to 'Add a Puzzle', :action => 'new_puzzle' %>
</p>
