<h1>Please Confirm Your Payment Details</h1>

<table style="width: 350px;" cellspacing="0">
  <tr>
		<td class="field"><%= @address['name'] %></td>
	</tr>
  <tr>
		<td class="field"><%= @address['company'] %></td>
	</tr>
  <tr>
		<td class="field">
			<%= @address['address1'] %><br />
			<%= @address['address2'] unless @address['address2'].nil? %>
			<%= @address['city'] %>, <%= @address['state'] %> <%= @address['zip'] %><br />
			<%= @address['country'] %>
		</td>
	</tr>
	<tr>
		<td class="field"><br /><strong><%= number_to_currency(@cart.items.sum {|item| item.price} + @cart.shipping_cost) %></strong></td>
	</tr>
</table>
<p>
	<% form_tag :action => 'complete', :token => params[:token], :payer_id => params[:PayerID] do %>
	  <%= submit_tag 'Complete Payment' %>
	<% end %>
</p>