<div id="mail_message_form" style="float: left;">
	<h2>Drop us a line</h2>
	<%= error_messages_for 'email_message' %>
	<p>
	<%= form_for @email_message, :url => {:action => :contact} do |f| %>
		<p><label for="email_message_name">Name</label><br />
			<%= f.text_field 'name' %></p>
			
		<p><label>Your Email Address: </label><br />
			<%= f.text_field 'from_email' %></p>
		
		<p><label>Subject: </label><br />
			<%= f.text_field 'subject' %></p>

		<p><label>Message: </label><br />
			<%= f.text_area 'message', :size => '50x10' %></p>
		<p><%= submit_tag 'Send us mail' %></p>	
		<p>*All fields are required to send message</p>
	<% end %>	
	</p>
</div>
<div id="mailbox" style="float: left; padding-left: 180px; padding-top: 30px;">
	<%= image_tag 'mailbox.png', :style => 'border: 0px' %>
</div>

