<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><%= @page_title %></title>
		<meta name="description" content="<%= @page_meta %>" />
		<meta name="keywords" content="<%= @page_keywords %>" />
		<meta name="verify-v1" content="LyzhhMjS5nggxIUYJ2+3l/ft+YMX5CPcYTjyczTsnog=" />
		<meta name="google-site-verification" content="btj9W0CiYZU82lXJ-u9hs_e9iTdi8BVsIEX5NFvrkDY" />
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div id="wrapper">
			<div id="header">
				<div id="cart_status">
					<%= link_to image_tag('shopping_cart.png', :style => 'border: 0px;'), :action => 'show_cart' %> &nbsp;
					<%= link_to number_to_currency(@cart.cart_items.sum {|item| item.total }), :action => 'show_cart' %>
				</div>
				<div style="float: right;margin-bottom: 0px;">
					<%= link_to image_tag('mydaddypuzzles.gif', :style => 'border: 0px;'), :action => "index" %><br />
					<%= link_to image_tag('made_in_usa.png', :alt => 'Made in the USA', :title => 'Made in the USA', :style => 'border: 0px;'), :action => 'made_in_usa' %>
				</div>

				<p id="nav" style="clear: both;">
					<%= link_to_unless_current "Home", {:action => "index"} %> ::
					<%= link_to_unless_current "Store", :action => "store" %> ::
					<%= link_to_unless_current "Gallery", :action => "gallery" %> ::
					<%= link_to_unless_current "Story", :action => "story" %> ::
					<%= link_to_unless_current "User Stories", :action => "stories" %> ::
					<%= link_to_unless_current "News", :action => 'news' %> ::
					<%= link_to_unless_current "Talk to us", :action => "contact" %>
				</p>

			</div>

			<div id="content">
				<div class="fb-like" data-href="http://mydaddypuzzles.com" data-send="true" data-width="450" data-show-faces="false"></div>
				<span style="color: red;"><%= flash[:notice] %></span>
				<%= yield %>
			</div>
			<div id="footer">
				<p>
					<span style="letter-spacing: .20em;">MyDaddyPuzzles LLC</span><br/>
					Alexandria, Va<br />
					&copy; <%= Date.today.year %>
				</p>

				<p style="font-size: .85em;">
				 Site lovingly crafted by <a href="mailto:justinbkay@gmail.com">Justin B. Kay</a>
				</p>
			</div>
		</div>

		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-5484456-3");
		pageTracker._trackPageview();
		</script>
	</body>
</html>
